/*
ThemeName: MyChild 
ThemeURI: https://example.com/my-child-theme/ 
Description: Achildthemeoftheparenttheme Author: YourName 
AuthorURI: https://example.com/ 
Template: astra
Version: 1.0.0
License: GNUGeneralPublicLicensev2orlater 
LicenseURI: http://www.gnu.org/licenses/gpl-2.0.html
*/